body{
  display:block;
  text-align: center;
  color:#333;
  background: #fff;
  margin: 80px auto;
  width: 100%;
}

table{
  width: 100%;
}
.arrow-up{height:0;width:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #339933;display:inline-block;margin:0 .5em .2em}

.arrow-down{height:0;width:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #ff6666;display:inline-block;margin:0 .5em .2em}
