<nav>
  {{link-to "Ping Pong" "index" class="main"}}

  <!-- responsive -->
  <input id="bmenu" class="burgercheck" type="checkbox">
  <input for="bmenu" class="burgermenu"></label>
  <!-- /responsive -->
  <div class="menu">
    {{link-to "Dashboard" "index" class="icon-gauge"}}
    {{link-to "Players" "players" class="icon-users-1"}}
    {{link-to "New player" "players.new" class="icon-user-add"}}
  </div>
</nav>
